.header {
  height: 56px;
  background-color: var(--mantine-color-body);
}

.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  text-decoration: none;
  color: var(--mantine-color-pale-indigo-4);

  @mixin hover {
    color: light-dark(var(--mantine-color-pale-indigo-5), var(--mantine-color-pale-indigo-3));
  }
}

.link {
  display: block;
  line-height: 1;
  padding: 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  @media (max-width: $mantine-breakpoint-xs) {
    border-radius: 0;
    padding: var(--mantine-spacing-md);
  }

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
  }
}

.linkLabel {
  margin-right: 5px;
}

/* Drawer collapse item styles */
.subLink {
  display: block;
  text-decoration: none;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  padding-left: calc(var(--mantine-spacing-md) * 2);
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  }
}

/* Drawer menu icon animation styles */
.drawerMenuIcon {
  transition: transform 0.2s ease;
}

.rotateUp {
  transform: rotate(180deg);
}

.rotateDown {
  transform: rotate(0deg);
}

/* Theme icon styles */
.icon {
  width: 22px;
  height: 22px;
}

.dark {
  color: var(--mantine-color-indigo-4);

  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.light {
  color: var(--mantine-color-yellow-4);

  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}
